@import "tailwindcss";

 button {
   cursor: pointer;
 }

:root {
    --bg: #FFFCFA;
    --surface : #FFFFFF;
    --primary : #C97B8B;
    --primary-hover : #B96A7B;
    --champagne-gold:#C9A46B;
    --rose-gold : #D8A3A3;
    --text : #171717;
    --secondary-text : #6B6B6B;
    --border : #F0E8E1;
  }

