@import "tailwindcss";

 button {
   cursor: pointer;
 }

 

:root {
    --bg: #FFFCFA;
    --surface : #FFFFFF;
    --primary : #C97B8B;
    --primary-hover : #B96A7B;
    --champagne-gold:#C9A46B;
    --rose-gold : #D8A3A3;
    --text : #171717;
    --secondary-text : #6B6B6B;
    --border : #F0E8E1;
  }
 

 .container-c {
    width: 100%;
    margin-inline: auto;
    padding-inline: 12px;
}

.leaflet-container {
    z-index: 1;
}

.leaflet-pane {
    z-index: 1;
}

.leaflet-top,
.leaflet-bottom {
    z-index: 10;
}

.leaflet-control {
    z-index: 10;
}

.leaflet-popup {
    z-index: 20;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
    .container-c {
        max-width: 540px;
    }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
    .container-c {
        max-width: 720px;
    }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
    .container-c {
        max-width: 960px;
    }
}

/* X-Large devices (≥1200px) */
@media (min-width: 1200px) {
    .container-c {
        max-width: 1140px;
    }
}

/* XX-Large devices (≥1400px) */
@media (min-width: 1400px) {
    .container-c {
        max-width: 1320px;
    }
}


.custom-scroll::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #C97B8B;
    border-radius: 8px;
    
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #B96A7B;
  }

